body {
	background-color: #EEEEEE;	/* can also just type EEE, in situations when all the letters are the same*/
	font-family: helvetica, arial, sans-serif;
}

h1, h2, h3 {	/* can change multiple things at once using commas*/
	margin: 0;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 10px;
	
}

#content {
		/*	can do this if need to do each side manually
		padding-left: top;
		padding-right: top;
		*/
		
		/*	this takes care of all four, goes clockwise, top right bottom left
		padding: 10px 10px 10px 10px; 
			the version below means that all sides will be 10px*/	
		
		padding: 10px;	/* padding each side will be 10 px */
}

#nav {
	width: 180px;
	float: left; /* this means that nav will float left to its parent, in this case its parent is "content" */
	padding: 0;
}

#nav ul {	/* class "ul" will be modified */
	list-style-type: none;	/* this removes the bullet points */
	padding-left: 10px;
}

#nav ul li a{		/* can change specific elements, in this case, the hyperlink, <a></a>, this showcases the full path of the element*/
	text-decoration: none;
	color: #5462FF;
}

#nav .selected {		/* this means that the "selected" class inside div "nav" will be chosen */
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
}

/*
#main p a { /* this is editing the hyperlink text inside the main 
	color: #000000;
	text-decoration: none;
}
*/

#footer {
	clear: both; /* this makes sure that there is nothing below the footer element, it "clears" the elements above it to go below */
	padding: 10px;
	background-color: black;
	color: white;
	text-align: right;
}